# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy

| Data Science Tools |
| ------|
| Juypter Notebook |
| R Studio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
minutes=200
hours= minutes/60

hours

3.3333333333333335

## Author
Michelle